body {
  margin: 0;
}

.editor {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;

  &-left,
  &-right {
    // position: absolute;
    width: 300px;
    background-color: #fff;
    overflow-y: scroll;
    // top: 0;
    // bottom: 0;
  }

  &-left {
    // left: 0;


    &-item {
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 20px;
      padding-top: 2rem;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      min-height: 100px;
      position: relative;
      border-radius: 0.1rem;
      border: #b0b5bd 1px solid;

      >span {
        border-radius: 0.1rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #b0b5bd;
        color: white;
      }

      &::after {
        content: '';
        position: absolute;
        background-color: rgba($color: #e4e4e4, $alpha: 0.1);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999999;
      }
    }
  }

  &-right {
    // right: 0;
  }

  &-top {
    // position: absolute;
    // bottom: 1px;
    // right: 1px;
    // left: 280px;
    height: 80px;
    background-color: e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 10px;
    }
  }

  &-container {
    flex: 1;
    box-sizing: border-box;
    // padding: 80px 270px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #e7e7e7;
    overflow: scroll;

    &-canvas {

      height: 100%;

      &__content {
        background-color: white;
        margin: 20px auto;
        position: relative;
        padding: 10px;
      }
    }
  }

  .editor-block {
    // position: absolute;
    position: relative;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   // z-index: 9999;
    //   // background-color: #ccc;
    // }


  }

  .editor-block-focus {
    outline: 1px dashed red;
  }

  .editor-block-preview {
    &::after {
      display: none;
    }
  }
}

// dropdown

.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px #ccc;
  border-radius: 5%;
}

.dropdown-isShow {
  display: block;
}

.dropdown-item {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  line-height: 30px;
  width: 100%;
  border-bottom: #ccc solid 1px;
  cursor: pointer;
  user-select: none;
}

.model {
  position: absolute;
  right: 10px;
  bottom: 10px;
}